.marker {
    width: 48px;
    background-color: white;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    padding: 4px 0;
}

.marker.selected{
    background-color: yellow;
    border: black;
}